<launch>

<!-- run april tag detection -->
	<node name="april_tag_detection" pkg="april_tag_detection" type="april_tag_detection_node" output="screen"/>
<!--
-->

<!-- run inverse kinematic for mecanum wheel -->
	<node name="mecanum_ik" pkg="mecanum_ik" type="mecanum_ik_node" output="screen"/>
<!--
-->

<!-- run mapping control -->
	<node name="mining_map" pkg="mining_map" type="mining_map_node" output="screen"/>
<!--
-->

<!-- run tof sensors -->
	<node name="tof_sensor" pkg="tof_sensor" type="tof_sensor_node"/>
<!--
-->

<!-- run IMU -->
	<include file="$(find wit_ros_imu)/launch/wit_imu.launch">
		<param name="arg" value="normal"/>
        <arg name="imu_port" value="/dev/USB_IMU"/>
	</include>
	<node name="imu_tf" pkg="imu_tf" type="imu_tf" output="screen"/>
<!--
-->

<!-- run sensor fusion & Kalman filter -->
	<node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
		<param name="output_frame" value="world_map"/>
		<param name="base_footprint_frame" value="base_link"/>
		<param name="freq" value="100.0"/>
		<param name="sensor_timeout" value="1"/>
		<param name="odom_used" value="true"/>
		<param name="imu_used" value="true"/>
		<param name="vo_used" value="false"/>
		<param name="debug" value="false"/>
		<param name="self_diagnose" value="false"/>
	</node>
<!--
-->
</launch>
